<%= form_for @conference, :url => url_for(:action => 'update') do |f| %>
  <% if @conference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conference.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @conference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number_of_team%><br />
    <%= f.number_field :number_of_team%>
  </div>
  <div class="field">
    <%= f.label :max_score %><br />
    <%= f.number_field :max_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
