<h2> Statistic </h2>

<h4> <%= link_to 'Delete all Data', delete_scores_path, method: :delete, data: {confirm: 'Are you sure?'} %> </h4>

<table class = "table table-striped table-condensed">
  <tr>
    <th>Team</th>
    <th>Average Score</th>
    <th>Total Participant</th>
  </tr>
  <% @avg_score.each do |s| %>
    <tr>
      <td><%= s[0] %> </td>
      <td><%= s[2].to_s + "점" %> </td>
      <td><%= s[1].to_s + "명"%> </td>
    </tr>
  <% end %>

</table>

<canvas id="graph1"></canvas>
<script>
    var cxt = document.getElementById("graph1").getContext("2d");
    var graph = new BarGraph(cxt);
    var teamArr = [];
    var scoreArr = [];

    graph.margin = 2;
    graph.width = 450;
    graph.height = 150;
    <% @avg_score.each do |s| %>
        teamArr.push("<%= s[0]  %>");
        scoreArr.push(<%= s[2] %>);
    <% end %>
    graph.xAxisLabelArr = teamArr;
    graph.update(scoreArr);
</script>
